<h1>Eurovision Song Contest 2017</h1>



<div class="wrapper">

<p> Bereits dabei mit Fähnchen in der Hand: 

<table>
<tr>
<% @users.each do |user| %>
		<td><%= user.name %></td>
		<td><%= gravatar_for user, size: 50 %></td>
	</tr>
<% end %>	

</p>

</div>