<h1>Eurovision Song Contest 2017</h1>

<table class="table">
	<% @countries.each do |country| %>
	<tr>
		<td><%= country.name %></td>
		<td><%= country.total_score %></td>
	</tr>
	<% end %>
</table>


