<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to(root_path, :class => 'navbar-brand') do %>
          <%= image_tag('navbar_logo_2016.png') %>
        <% end %>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li class="gravatar"><%= image_tag avatar_url(current_user, 20) %></li>
          <li class="divider"></li>
          <li> <%= link_to "Profile", current_user %></li>
          <li class="divider"></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          <li class="divider"></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li> <%= link_to "Sign Up", new_user_path%> </li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
