<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Douze Points</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="container">
	<%= render 'layouts/header' %>

	<% flash.each do |type, message| %>
	<div class="alert flash <%= type %>">
		<%= message %>
	</div>
	<% end %>


<%= yield %>
</div>

</body>
</html>
